In [1]:
# import pandas as pd
# df_movies = pd.read_csv("./ml-latest/movies.csv")
# df_ratings = pd.read_csv("./ml-latest/ratings.csv")
# df_movies.columns, df_ratings.columns
# df_ratings['userId'].unique().shape

In [2]:
import pandas as pd
import numpy as np
item = pd.read_csv("./ml-100k/u.item", sep="|",encoding="latin-1", 
                      names=["movie_id", "movie_title", "release_date", "video_release_date",
                             "imbd_url", "unknown", "action", "adventure", "animation",
                             "childrens", "comedy", "crime", "documentary", "drama", "fantasy", 
                             "film_noir", "horror", "musical", "mystery", "romance", 
                             "sci-fi", "thriller", "war", "western"])

rating = pd.read_csv("./ml-100k/u.data", sep="\t", names=["user_id", "item_id", "rating", "timestamp"])

In [3]:
item.head()
movies = item.loc[:, ['movie_id', 'movie_title']]
movies = item.loc[:, :'movie_title']
#movies['movie_title']

In [4]:
#rating.drop('timestamp', axis=1, inplace=True)
#rating
# movies.head()
# item.head()
# rating.head()
# movies.info()
# item.info()
# rating()
# item.drop('release_date', axis=1, inplace=True)
item.head()
movies.shape, item.shape, rating.shape
# item.head()

((1682, 2), (1682, 24), (100000, 4))

In [5]:
user=pd.read_csv("./ml-100k/u.user", sep="|",encoding='latin-1',
                 names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])

In [6]:
user.columns, rating.columns, movies.columns

(Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object'),
 Index(['user_id', 'item_id', 'rating', 'timestamp'], dtype='object'),
 Index(['movie_id', 'movie_title'], dtype='object'))

In [7]:
df = pd.merge(user, rating, how='left', on='user_id')
df2 = pd.merge(df, movies, how='left', right_on='movie_id', left_on='item_id')

In [9]:
df2.head()
# 영화별기준으로 가장 높은 평점을 받은 항목 출력하시오.
df2.groupby('movie_title')['rating'].agg(np.max).sort_values(ascending=False)

movie_title
Boxing Helena (1993)                          5
Last Supper, The (1995)                       5
Last of the Mohicans, The (1992)              5
Late Bloomers (1996)                          5
Laura (1944)                                  5
                                             ..
To Cross the Rubicon (1991)                   1
Tigrero: A Film That Was Never Made (1994)    1
Homage (1995)                                 1
Hostile Intentions (1994)                     1
Man from Down Under, The (1943)               1
Name: rating, Length: 1664, dtype: int64